@import '../../scss/colors';
@font-face {
  font-family: 'pokemon-hollow';
  src: URL('../../fonts/Pokemon\ Hollow.ttf') format('truetype');
}

.pokemon__details-wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.details__card {
  background: $color-white;
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  position: relative;
  border-radius: 8px;
  padding: 10px;
  box-sizing: border-box;
}

.details__image {
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  height: 120px;
}

.details__name {
  color: $color-text-id;
  margin: 60px auto 30px;
  text-transform: capitalize;
  font-family: 'pokemon-hollow';
  padding-bottom: 10px;
  border-radius: 10px;
  max-width: 200px;
}

.pokemon__data-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid $color-grey;
  padding-bottom: 10px;
  margin: 0 auto 20px;
  max-width: 255px;
  .data__container {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    padding: 0 5px;
    justify-content: stretch;
  }
}

.data__content {
  color: $color-black;
  font-weight: bold;
}

.data__content-image {
  border-width: 0 2px 0 2px;
  border-style: solid;
  border-color: $color-grey;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.type__image {
  height: 25px;
  margin: 0 5px;
}

.data__type {
  color: $color-grey-id;
  text-transform: uppercase;
  font-size: 12px;
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.data__content-types {
  display: flex;
  justify-content: center;
  align-items: center;
}
.details__abilities {
}
.details__ability {
}
.images__container {
}
