@import '../../scss/colors';
@import '../../scss/variables';
@import '../../scss/mixins';
@font-face {
  font-family: 'pokemon-hollow';
  src: URL('../../fonts/Pokemon\ Hollow.ttf') format('truetype');
}

html {
  overflow-y: scroll;
}

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-noto;
  min-height: 100vh;
  width: 100%;
}

.page {
  text-align: center;
  min-height: 100vh;
  width: 100%;
  background-color: $color-yellow;
  position: relative;
  overflow: hidden;

  &::before {
    @include cornerBackground;
    top: 0;
    left: 0;
    border-width: 80px 80px 0 0;
    border-color: $color-black transparent transparent transparent;
  }
  &::after {
    @include cornerBackground;
    top: 0;
    right: 0;
    border-width: 0 80px 80px 0;
    border-color: transparent $color-black transparent transparent;
  }
  @media all and (min-width: 550px) {
    &::before {
      border-width: 100px 100px 0 0;
    }
    &::after {
      border-width: 0 100px 100px 0;
    }
  }
}

.page__wrapper {
  background-color: $color-yellow;
  height: 100%;
  width: 100%;
  &::before {
    @include cornerBackground;
    bottom: -100px;
    left: -100px;
    border-width: 0 0 200px 200px;
    border-color: transparent transparent $color-red transparent;
    border-radius: 50%;
    z-index: 10;
  }
  &::after {
    @include cornerBackground;
    bottom: -100px;
    right: -100px;
    border-width: 200px 0 0 200px;
    border-color: transparent transparent transparent $color-red;
    border-radius: 50%;
  }
  @media all and (min-width: 768px) {
    &::before {
      border-width: 0 0 300px 300px;
      bottom: -150px;
      left: -150px;
    }
    &::after {
      border-width: 300px 0 0 300px;
      bottom: -150px;
      right: -150px;
    }
  }
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.fade-exit {
  opacity: 1;
  transform: scale(1);
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
