@mixin cornerBackground() {
  content: '';
  display: block;
  position: fixed;
  width: 0;
  height: 0;
  border-style: solid;
}

@mixin flexLayout($justify, $align) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}
